In [14]:
import pandas as pd

### read in the file and create variable 'df' for the DataFrame

In [15]:
df = pd.read_csv("~/downloads/bailbonds.csv")

### Info and header on the DataFrame

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20507 entries, 0 to 20506
Data columns (total 17 columns):
UID            20507 non-null int64
BOOK_NUMBER    20507 non-null object
RACE           20507 non-null object
Gender         20507 non-null object
AGE            20507 non-null int64
COURT_CASE     20507 non-null object
LEVEL          20507 non-null object
SEVERITY       20507 non-null object
BOND AMT       20507 non-null object
BOND OUT       20507 non-null bool
DAYS           20507 non-null int64
PUBLIC DEF.    20507 non-null bool
DESCRIPTION    19676 non-null object
FSN            20507 non-null object
STATUS         20507 non-null object
JUDGE          20507 non-null object
IS_FIRST       20507 non-null bool
dtypes: bool(3), int64(3), object(11)
memory usage: 2.2+ MB

In [17]:
df.head()

,UID,BOOK_NUMBER,RACE,Gender,AGE,COURT_CASE,LEVEL,SEVERITY,BOND AMT,BOND OUT,DAYS,PUBLIC DEF.,DESCRIPTION,FSN,STATUS,JUDGE,IS_FIRST
0,1,ASO16JBN005576,B,M,68,012016CF002701A,F,T,"$3,500,000",False,221,True,ADULT,787.02.1a,FELON - AWAIT TRIAL,DENISE R. FERRERO,True
1,2,ASO16JBN005576,B,M,68,012016CF002701A,F,T,"$3,500,000",False,221,True,SEX BAT 18 YR OR OLDER BY PRSN 18 YR OR OLD,794.011.4b,FELON - AWAIT TRIAL,DENISE R. FERRERO,True
2,3,ASO16JBN000360,W,M,124,012016CF000120A,F,S,"$3,000,000",False,40,True,BY 18Y OLDR VIC 18Y OLDR NO PHY FORC VIOL,794.011.5b,FELON - AWAIT TRIAL,JAMES M. COLAW,True
3,4,ASO16JBN000360,W,M,124,012016CF000120A,F,S,"$3,000,000",False,40,True,OR REWARD OR SHIELD OR HOSTAGE,787.01.1a1,FELON - AWAIT TRIAL,JAMES M. COLAW,True
4,5,ASO16JBN000360,W,M,124,012016CF000120A,F,S,"$3,000,000",False,40,True,PERSON USES A DEADLY WEAPON,784.045.1a2,FELON - AWAIT TRIAL,JAMES M. COLAW,True

### a count of different judges' names. This needs to get cleaned up.

In [18]:
df.JUDGE.value_counts()

WALTER M. GREEN                 2772
THOMAS M. JAWORSKI              1939
Susanne Wilson-Bulla            1430
DENISE R. FERRERO               1210
Susan Miller-Jones              1140
Denise R. Ferrero               1135
SUSAN MILLER-JONES              1040
MARK W. MOSELEY                  886
WILLIAM E. DAVIS                 819
JAMES M. COLAW                   703
PHILIP A. PENA                   599
DAVID P. KREIDER                 568
ROBERT K. GROEB                  543
Donna M. Keim                    410
DONNA M. KEIM                    348
JAMES P. NILON                   248
TOBY S. MONACO                   234
MOSELEY, M                       227
GREEN, WAL                       222
VICTOR L. HULSLANDER             221
COLAW, JAM                       216
STAN GRIFFIS                     214
JAMES T. BROWNING                211
DAVIS, WIL                       200
AYMER L. CURTIN                  193
PENA, PHIL                       175
BO BAYER                         148
FERRERO, D                       133
SAMUEL STAFFORD                  128
MONICA BRASINGTON                125
                                ...
JUDGE BENNETT                      1
RITTERHOFF-WILLIAMS                1
KRAUSE                             1
JUDGE TOM COLEMAN                  1
KREIDER,D                          1
JUDGE MITCHELL- DUVAL COUNTY       1
MONICA J. BRASINGTON               1
SMITH, JOS                         1
BULLARD, SUSANNE                   1
ROBERT HILLIARD                    1
GILCHRIST COUNTY JUDGE             1
MARION COUNTY-HODGES               1
DOUGLAS-COLUMBIA CO.               1
JUDGE BULLARD                      1
DON BARBEE JR                      1
JUDGE GREG PARKER                  1
STATE ATTORNEY OFFICE              1
WILLIAMS,J.M.                      1
JUDGE BLACKBURN                    1
JENNIFER, ELLISON                  1
COLUMBIA CO.- COLEMAN              1
MANATEE CO.                        1
BRADFORD COUNTY----DAVIS           1
PASCO CO                           1
BRASINGRON                         1
JUDGE PEGG                         1
STAFFORD JAMES                     1
JUDGE SHAIRIT                      1
JUDGE HEALY                        1
BJUDGE BOATWRIGHT                  1
Name: JUDGE, dtype: int64

### create variable for column "JUDGE"

In [19]:
judges = 'JUDGE'

### function to inspect 'JUDGE' column for any containing 'miller-jones' and return 'Susan Miller-Jones'

In [20]:
def judges(row):
    if row.judges.contains("miller-jones", case=False):
        return 'Susan Miller-Jones'
    return row.judges

### run the function across the DataFrame and store results in a new column. Oops, trouble here.

In [10]:
judges.apply(judges, axis=1)

AttributeError: 'function' object has no attribute 'apply'

### save that series in a new column called 'judges_clean_names.' More trouble.

In [11]:
judges['judges_clean_names'] = judges.apply(judges, axis=1)

AttributeError: 'function' object has no attribute 'apply'