In [1]:
import pandas as pd

In [3]:
insp = pd.read_csv("ftp://dbprftp.state.fl.us/pub/llweb/5fdinspi.csv", header = None)

In [4]:
insp.head()

,0,1,2,3,4,5,6,7,8,9,...,72,73,74,75,76,77,78,79,80,81
0,D5,11,Alachua,2015,1100012,DOUBLE ENVELOP 71099,2500 NE 39 AVE,GAINESVILLE,32609,1106616,...,0,0,0,0,0,0,0,0,3713828,6463832
1,D5,11,Alachua,2015,1100012,DOUBLE ENVELOP 71099,2500 NE 39 AVE,GAINESVILLE,32609,1106616,...,0,0,0,0,0,0,0,0,3713828,6267656
2,D5,11,Alachua,2015,1100012,DOUBLE ENVELOP 71099,2500 NE 39 AVE,GAINESVILLE,32609,1106616,...,0,0,0,0,0,0,0,0,3713828,6432746
3,D5,11,Alachua,2015,1100025,PFG,4041 NE 54 AVE,GAINESVILLE,32609,1106611,...,0,0,0,0,0,0,0,0,3713765,6267651
4,D5,11,Alachua,2015,1100037,BEAR ARCHERY 72353,4600 SW 41ST BLVD,GAINESVILLE,32608,1106615,...,0,0,0,0,0,0,0,0,3713820,6267655

In [5]:
insp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10119 entries, 0 to 10118
Data columns (total 82 columns):
0     10119 non-null object
1     10119 non-null int64
2     10119 non-null object
3     10119 non-null int64
4     10119 non-null int64
5     10117 non-null object
6     10119 non-null object
7     10119 non-null object
8     10119 non-null object
9     10119 non-null int64
10    10119 non-null int64
11    10119 non-null object
12    10119 non-null object
13    10119 non-null object
14    10119 non-null object
15    0 non-null float64
16    0 non-null float64
17    10119 non-null int64
18    10117 non-null float64
19    10117 non-null float64
20    10117 non-null float64
21    10119 non-null object
22    10119 non-null int64
23    10119 non-null int64
24    10119 non-null int64
25    10119 non-null int64
26    10119 non-null int64
27    10119 non-null int64
28    10119 non-null int64
29    10119 non-null int64
30    10119 non-null int64
31    10119 non-null int64
32    10119 non-null int64
33    10119 non-null int64
34    10119 non-null int64
35    10119 non-null int64
36    10119 non-null int64
37    10119 non-null int64
38    10119 non-null int64
39    10119 non-null int64
40    10119 non-null int64
41    10119 non-null int64
42    10119 non-null int64
43    10119 non-null int64
44    10119 non-null int64
45    10119 non-null int64
46    10119 non-null int64
47    10119 non-null int64
48    10119 non-null int64
49    10119 non-null int64
50    10119 non-null int64
51    10119 non-null int64
52    10119 non-null int64
53    10119 non-null int64
54    10119 non-null int64
55    10119 non-null int64
56    10119 non-null int64
57    10119 non-null int64
58    10119 non-null int64
59    10119 non-null int64
60    10119 non-null int64
61    10119 non-null int64
62    10119 non-null int64
63    10119 non-null int64
64    10119 non-null int64
65    10119 non-null int64
66    10119 non-null int64
67    10119 non-null int64
68    10119 non-null int64
69    10119 non-null int64
70    10119 non-null int64
71    10119 non-null int64
72    10119 non-null int64
73    10119 non-null int64
74    10119 non-null int64
75    10119 non-null int64
76    10119 non-null int64
77    10119 non-null int64
78    10119 non-null int64
79    10119 non-null int64
80    10119 non-null int64
81    10119 non-null int64
dtypes: float64(5), int64(66), object(11)
memory usage: 6.3+ MB

Trying here to add a header row to the DataFrame but getting an invalid syntax error. Not sure why.

In [6]:
insp.columns = [“District”, “CountyNumber”, “CountyName”, “LicTypeCode”, “LicNumber”, “BusinessName”, “StreetAddress”, “City”, “ZIP”, “InspectNo”, “VisitNo”, “InspectClass”, “InspectType”, “InspectDisp”, “InspectDate”, “NoCriticalVio”, “NoNoncritVio”, “NoTotalVio”, “NoHighVio”, “NoInterVio”, “NoBasicVio”, “PDA”, “FoodVio1”, “FoodVio2”, “FoodVio3”, “FoodVio4”, “FoodVio5”, “FoodVio6”, “FoodVio7”, “FoodVio8”, “FoodVio9”, “FoodVio10”, “FoodVio11”, “FoodVio12”, “FoodVio13”, “FoodVio14”, “FoodVio15”, “FoodVio16”, “FoodVio17”, “FoodVio18”, “FoodVio19”, “FoodVio20”, “FoodVio21”, “FoodVio22”, “FoodVio23”, “FoodVio24”, “FoodVio25”, “FoodVio26”, “FoodVio27”, “FoodVio28”, “FoodVio29”, “FoodVio30”, “FoodVio31”, “FoodVio32”, “FoodVio33”, “FoodVio34”, “FoodVio35”, “FoodVio36”, “FoodVio37”, “FoodVio38”, “FoodVio39”, “FoodVio40”, “FoodVio41”, “FoodVio42”, “FoodVio43”, “FoodVio44”, “FoodVio45”, “FoodVio46”, “FoodVio47”, “FoodVio48”, “FoodVio49”, “FoodVio50”, “FoodVio51”, “FoodVio52”, “FoodVio53”, “FoodVio54”, “FoodVio55”, “FoodVio56”, “FoodVio57”, “FoodVio58”, “LicenceID”, “VisitID”]

SyntaxError: invalid syntax (<ipython-input-6-f3dbfacc76e9>, line 1)