In [1]:
import pandas

In [2]:
import pandas as pd

In [40]:
insp = pd.read_csv("ftp://dbprftp.state.fl.us/pub/llweb/5fdinspi.csv", header = None)
insp.columns = [“District”, “CountyNumber”, “CountyName”, “LicTypeCode”, “LicNumber”, “BusinessName”, “StreetAddress”, “City”, “ZIP”, “InspectNo”, “VisitNo”, “InspectClass”, “InspectType”, “InspectDisp”, “InspectDate”, “NoCriticalVio”, “NoNoncritVio”, “NoTotalVio”, “NoHighVio”, “NoInterVio”, “NoBasicVio”, “PDA”, “FoodVio1”, “FoodVio2”, “FoodVio3”, “FoodVio4”, “FoodVio5”, “FoodVio6”, “FoodVio7”, “FoodVio8”, “FoodVio9”, “FoodVio10”, “FoodVio11”, “FoodVio12”, “FoodVio13”, “FoodVio14”, “FoodVio15”, “FoodVio16”, “FoodVio17”, “FoodVio18”, “FoodVio19”, “FoodVio20”, “FoodVio21”, “FoodVio22”, “FoodVio23”, “FoodVio24”, “FoodVio25”, “FoodVio26”, “FoodVio27”, “FoodVio28”, “FoodVio29”, “FoodVio30”, “FoodVio31”, “FoodVio32”, “FoodVio33”, “FoodVio34”, “FoodVio35”, “FoodVio36”, “FoodVio37”, “FoodVio38”, “FoodVio39”, “FoodVio40”, “FoodVio41”, “FoodVio42”, “FoodVio43”, “FoodVio44”, “FoodVio45”, “FoodVio46”, “FoodVio47”, “FoodVio48”, “FoodVio49”, “FoodVio50”, “FoodVio51”, “FoodVio52”, “FoodVio53”, “FoodVio54”, “FoodVio55”, “FoodVio56”, “FoodVio57”, “FoodVio58”, “LicenceID”, “VisitID”]

SyntaxError: invalid syntax (<ipython-input-40-b6281159d31f>, line 2)

In [34]:
insp.head()

,0,1,2,3,4,5,6,7,8,9,...,72,73,74,75,76,77,78,79,80,81
0,D5,11,Alachua,2015,1100012,DOUBLE ENVELOP 71099,2500 NE 39 AVE,GAINESVILLE,32609,1106616,...,0,0,0,0,0,0,0,0,3713828,6463832
1,D5,11,Alachua,2015,1100012,DOUBLE ENVELOP 71099,2500 NE 39 AVE,GAINESVILLE,32609,1106616,...,0,0,0,0,0,0,0,0,3713828,6267656
2,D5,11,Alachua,2015,1100012,DOUBLE ENVELOP 71099,2500 NE 39 AVE,GAINESVILLE,32609,1106616,...,0,0,0,0,0,0,0,0,3713828,6432746
3,D5,11,Alachua,2015,1100025,PFG,4041 NE 54 AVE,GAINESVILLE,32609,1106611,...,0,0,0,0,0,0,0,0,3713765,6267651
4,D5,11,Alachua,2015,1100037,BEAR ARCHERY 72353,4600 SW 41ST BLVD,GAINESVILLE,32608,1106615,...,0,0,0,0,0,0,0,0,3713820,6267655

count    4.000000
mean     5.000000
std      2.581989
min      2.000000
25%      3.500000
50%      5.000000
75%      6.500000
max      8.000000
dtype: float64

In [29]:
insp = pd.read_csv("~/downloads/5fdinspi.csv")

In [22]:
inspections.CountyName

0        Alachua
1        Alachua
2        Alachua
3        Alachua
4        Alachua
5        Alachua
6        Alachua
7        Alachua
8        Alachua
9        Alachua
10       Alachua
11       Alachua
12       Alachua
13       Alachua
14       Alachua
15       Alachua
16       Alachua
17       Alachua
18       Alachua
19       Alachua
20       Alachua
21       Alachua
22       Alachua
23       Alachua
24       Alachua
25       Alachua
26       Alachua
27       Alachua
28       Alachua
29       Alachua
          ...
9711    Suwannee
9712    Suwannee
9713    Suwannee
9714    Suwannee
9715    Suwannee
9716    Suwannee
9717    Suwannee
9718    Suwannee
9719    Suwannee
9720    Suwannee
9721    Suwannee
9722       Union
9723       Union
9724       Union
9725       Union
9726       Union
9727       Union
9728       Union
9729       Union
9730       Union
9731       Union
9732       Union
9733       Union
9734       Union
9735       Union
9736       Union
9737       Union
9738       Union
9739       Union
9740       Union
Name: CountyName, dtype: object